@use "../../assets/sass/typography" as *;
@use "../../assets/sass/variables" as *;

.search{
  .search-navbar{
    background-color: $color-navbar;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .search-container{
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-direction: column;
    gap: 10px;
  }
}